.root{
	-fx-background-color:#edf5e0;
}

.table-view .column-header-background .label{
	-fx-background-color:#b0db70;
	-fx-text-fill:#ffffff;
	-fx-column-alignment:center;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, a5d65c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill:#ffffff;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #dbefbe;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
    -fx-text-fill:#ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #2ee212;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.buttons{
	-fx-background-color:#a5d65c;
	-fx-text-fill:#ffffff;
	-fx-underline:false;
}
.buttons:hover{
	-fx-background-color:#dbefbe;
	-fx-effect:dropshadow(gaussian,#a5d65c,10,0.5,3,3);
	-fx-underline:true;
}
#labelField{
	-fx-text-fill:#b0db70;
	-fx-font-weight:bold;
	-fx-font-size:10pt;
	-fx-text-wrap:true;
}

#labelOffice{
	-fx-text-fill:#b0db70;
	-fx-font-size:10pt;
}

#layout{
	-fx-effect:dropshadow(gaussian,#a5d65c,10,0.5,3,3);
}
.text-field:focus{
	-fx-border-width:3px;
	-fx-border-color:#2ee212;
}
.promptLabel{
-fx-font-size:14pt;
-fx-font-weight:bold;
-fx-text-fill:#a5d65c;
-fx-text-alignment:center;
}